body {
    margin: 0;
    min-height: 100vh;
    /*background-image: url(./img/background.jpg);*/
    background-color: rgb(199, 199, 199) !important;
}

header {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;

}

h1 {
    color: rgb(184, 184, 0) !important;
    font-size: 56px !important;
}

.title-link{
    color: white !important;
    text-decoration: none !important;
}

.search {
    display: flex;
    align-items: center;
    gap: 4px;
}

.search-input {
    height: 48px;
    font-size: 32px;
    border-radius: 8px;
}


.btn-group-vertical {
    height: fit-content;
}

.pokemon-img-default {
    object-fit: cover;
}

.pokemon-img-200 {
    object-fit: cover;
    width: 200px;
}


.abilities {
    padding: 8px;
    margin: 4px;
}

.icon {
    object-fit: cover;
    height: 48px;
    cursor: pointer;
}


.invert {
    filter: invert(1);
}





.flip-horizontally {
    transform: scaleX(-1);
}

#postGrid {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }

    .search-input {
        height: 48px;
        font-size: 24px;
    }

}

@media only screen and (max-width: 400px) {
    header {
        flex-direction: column;
    }

    .search {
        justify-content: center;
    }

    .search-input {
        width: 50%;
        height: 48px;
        font-size: 24px;
    }
}