body {
    margin: 0;
    min-height: 100vh;
    /*background-image: url(./img/background.jpg);*/
    background-color: rgb(199, 199, 199) !important;
}

.btn-group-vertical {
    height: fit-content;
}

.pokemon-img-default {
    object-fit: cover;
}

.pokemon-img-200 {
    object-fit: cover;
    width: 200px;
}

h1 {
    color: rgb(0, 0, 0) !important;
    font-size: 56px !important;
}



.abilities {
    padding: 8px;
    margin: 4px;
}

.icon {
    object-fit: cover;
    height: 24px;
    cursor: pointer;
}


.invert {
    filter: invert(1);
}

.next-icon{
    object-fit: cover;
    height: 10vh;
    cursor: pointer;
    z-index: 999;

}

.flip-horizontally {
    transform: scaleX(-1);
}

#postGrid{
    display: flex;
    justify-content: center;
}