body {
    margin: 0;
    min-height: 100vh;
    /*background-image: url(./img/background.jpg);*/
    background-color: rgb(199, 199, 199) !important;
    font-size: larger;
}

header {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

h1 {
    color: rgb(184, 184, 0) !important;
    font-size: 56px !important;
}

.title-link {
    color: white !important;
    text-decoration: none !important;
}

.search {
    display: flex;
    align-items: center;
    gap: 4px;
}

.search-input {
    height: 48px;
    font-size: 32px;
    border-radius: 8px;
}


.btn-group-vertical {
    height: fit-content;
}

.pokemon-img-default {
    object-fit: cover;
}

.pokemon-img-200 {
    object-fit: cover;
    width: 200px;
}


.abilities {
    padding: 8px;
    margin: 4px;
}

.icon {
    object-fit: cover;
    height: 48px;
    cursor: pointer;
}



.invert {
    filter: invert(1);
}


.flip-horizontally {
    transform: scaleX(-1);
}

#postGrid {
    display: flex;
    justify-content: center;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 0.3;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 166px;
    height: 166px;
    border: 24px solid rgba(0, 0, 0, 0.1);
    border-top: 24px solid #003253;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.hide {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }

    .search-input {
        height: 48px;
        font-size: 24px;
    }

}

@media only screen and (max-width: 400px) {
    header {
        flex-direction: column;
    }

    .search {
        justify-content: center;
    }

    .search-input {
        width: 50%;
        height: 48px;
        font-size: 24px;
    }
}

