.pokemon-type {
    border-radius: 4px;
    padding:2px;
}

.normal {
    background-color: #A8A878 !important;
}

.fire {
    background-color: #F08030 !important;
}

.water {
    background-color: #6890F0 !important;
}

.grass {
    background-color: #205e00 !important;
}

.flying {
    background-color: #A890F0 !important;
}

.fighting {
    background-color: #C03028 !important;
}

.poison {
    background-color: #A040A0 !important;
}

.electric {
    background-color: #F8D030 !important;
}

.ground {
    background-color: #E0C068 !important;
}

.rock {
    background-color: #B8A038 !important;
}

.psychic {
    background-color: #F85888 !important;
}

.ice {
    background-color: #98D8D8 !important;
}

.bug {
    background-color: #A8B820 !important;
}

.ghost {
    background-color: #705898 !important;
}

.steel {
    background-color: #B8B8D0 !important;
}

.dragon {
    background-color: #7038F8 !important;
}

.dark {
    background-color: #705848 !important;
}

.fairy {
    background-color: #EE99AC !important;
}

.card-bg-normal {
    background-color: #E8E8E8 !important;
}

.card-bg-fire {
    background-color: #FFC080 !important;
}

.card-bg-water {
    background-color: #A8D8FF !important;
}

.card-bg-grass {
    background-color: #40FF40 !important;
}

.card-bg-flying {
    background-color: #D0B0FF !important;
}

.card-bg-fighting {
    background-color: #FF9090 !important;
}

.card-bg-poison {
    background-color: #D090D0 !important;
}

.card-bg-electric {
    background-color: #FFEC99 !important;
}

.card-bg-ground {
    background-color: #F8E4B0 !important;
}

.card-bg-rock {
    background-color: #E8D5A2 !important;
}

.card-bg-psychic {
    background-color: #FFA0B8 !important;
}

.card-bg-ice {
    background-color: #C0F0F0 !important;
}

.card-bg-bug {
    background-color: #E0E8A0 !important;
}

.card-bg-ghost {
    background-color: #B0A0D0 !important;
}

.card-bg-steel {
    background-color: #F0F0F8 !important;
}

.card-bg-dragon {
    background-color: #C090FF !important;
}

.card-bg-dark {
    background-color: #B0A090 !important;
}

.card-bg-fairy {
    background-color: #FFD0E0 !important;
}




.border-normal {
    border: thick double #A8A878 !important;
}

.border-fire {
    border: thick double #F08030 !important;
}

.border-water {
    border: thick double #6890F0 !important;
}

.border-grass {
    border: thick double #205e00 !important;
}

.border-flying {
    border: thick double #A890F0 !important;
}

.border-fighting {
    border: thick double #C03028 !important;
}

.border-poison {
    border: thick double #A040A0 !important;
}

.border-electric {
    border: thick double #F8D030 !important;
}

.border-ground {
    border: thick double #E0C068 !important;
}

.border-rock {
    border: thick double #B8A038 !important;
}

.border-psychic {
    border: thick double #F85888 !important;
}

.border-ice {
    border: thick double #98D8D8 !important;
}

.border-bug {
    border: thick double #A8B820 !important;
}

.border-ghost {
    border: thick double #705898 !important;
}

.border-steel {
    border: thick double #B8B8D0 !important;
}

.border-dragon {
    border: thick double #7038F8 !important;
}

.border-dark {
    border: thick double #705848 !important;
}

.border-fairy {
    border: thick double #EE99AC !important;
}
