.pokedex {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: initial;
    flex-wrap: wrap;
    padding: 16px;
}

.pokemon-grid-item-container {
    z-index: 100;
    background-color: rgba(224, 224, 224, 0.781);
    max-height: max-content;
    min-width: 18%;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 32px;
    transition: transform .2s;
    /* Animation */
    cursor: pointer;
}

.load-more-btn{
    z-index: 100;
    margin: 32px !important;
}

.pokemon-grid-item-container:hover {
    transform: scale(1.05);
    /* (105% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.pokemon-types {
    display: flex;
    gap: 2px;
    color: black;
    flex-wrap: wrap;
}