.selected-pokemon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5%;
    z-index: 200;
}

.animate {
    animation: moveBox 0.5s ease-in-out;
}

@keyframes moveBox {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.current-selected-pokemon {
    opacity: 1 !important;
    z-index: 999 !important;
    width: 850px;

}

.pokemon-header {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 56px;
    background-color: rgb(92, 92, 92);
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.pokemon-info-container {
    border-radius: 32px;
    height: fit-content;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: -108px;
    padding-top: 64px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.pokemon-header-menu {
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 120%;
    margin-bottom: 12px;
    margin-top: 12px;
}

.abilities-table th,
td {
    padding: 4px;
    min-width: 100px !important;
}

.pokemon-attribute-menu {
    width: 80%;
}

.menu-button {
    margin: 512px !important;
}

.pokemon-id {
    color: rgb(0, 0, 0) !important;
    font-size: 32px !important;
}

.next-icon{
    object-fit: cover;
    height: 10vh;
    cursor: pointer;
    z-index: 999;
}